* {
  box-sizing: border-box;
}
#header {
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
}
.header {
  background-color: white;
}
.header-scroll {
  background-color: #999897;
}
.header-scroll #nav-bar a {
  color: white;
}
.header #nav-bar a {
  color: black;
}

#nav-bar {
  display: flex;
}
#nav-bar a {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
#banner {
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: -1;
  height: 100vh;
}

#mobile-vertical-navbar {
  position: fixed;
  right: 0;
  display: none;
}
#hidden-vertical-navbar {
  position: fixed;
  height: 100%;
  right: 0;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #999897;
  display: none;
  flex-direction: column;
}
#mobile-vertical-navbar a {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
#mobile-vertical-navbar img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1199px) {
  #mobile-vertical-navbar {
    display: block;
  }
  #nav-bar {
    display: none;
  }
}
