* {
  box-sizing: border-box;
}
body {
  padding-top: 60px;
}

#register-form,
#account-page,
#forgot-password,
#reset-link,
#course-detail {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-form div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.flashed-msg {
  color: red;
  display: flex;
  justify-content: center;
}

/* .course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-card-container {
  display: contents;
  width: 100%;
}

.course-card {
  width: 60%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
*/

#card-image {
  height: 150px;
  width: 200px;
}

#profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#header-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
} 
