<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/general.css" />
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="stylesheet" href="/static/styles/header.css"/>
    <title>My Account</title>
  </head>
  <body style="height: 10000px">
    <div id="body-container">
      <iframe src="/header" id="iframe-header"></iframe>
    </div>

    <!-- Account Page -->
    <div id="account-page">
        {% if user %}
            <!-- account info -->
            <h1>Account Information</h1>
            <p>Full name: {{user.name}}</p>
            <p>Address: {{user.address}}</p>
            <p>Email: {{user.email}}</p>
            <p>Phone: {{user.phone}}</p>
            <img id="profile-image" class="profile-image" src="{{user.image}}" alt="profile picture">
        
            <!-- temporary logout -->
            <a href="/logout">Log out</a>
        {% else %}
            <!-- login box -->
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div>
                    <label for="username">Email or Phone:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            
            <!-- forgot password link -->
            <a href="/forgot-password">Forgot Password?</a>
            <a href="/register">Register</a>

            <!-- get flashed mesage -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <p class="flashed-msg">{{ messages[-1]}}</p>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>

    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
