<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="stylesheet" href="/static/styles/header.css"/>
    <link rel="stylesheet" href="/static/styles/browse.css"/>
    <link rel="stylesheet" href="/static/general.css">
    <title>Browse Courses</title>
  </head>
  <body>
    <div id="body-container">
      <iframe src="/header" id="iframe-header"></iframe>
    </div>

    <div class="course-container">
      <h1 class="text-center">Browse Courses by Category</h1>
      {% for category, courses in courses.items() %}
        <h2>{{ category }}</h2>
        <div class="course-cards">
          {% for course in courses %}
            <div class="course-card">
              <a href="/courses/{{ course.key.id}}">
                <img id="card-img" class="card-image" src="{{ course.image }}" alt="{{ course.name }}">
              </a>
              <div class="course-info">
                <h3 class="mt-3"><a href="/courses/{{ course.key.id }}">{{ course.name }}</a></h3>
                <p class="mt-3">Category: {{ course.category }}</p>
                <p class="mt-3">Price: ${{ course.price }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

   
    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
