<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/website-logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="stylesheet" href="/static/styles/header.css"/>
    <link rel="stylesheet" href="/static/styles/browse.css"/>
    <link rel="stylesheet" href="/static/general.css">
    <title>Browse Courses</title>
  </head>
  <body>
    <div id="body-container">
      <iframe src="/header" id="iframe-header"></iframe>
    </div>

    <!-- display all courses -->
    <div class="course-container">
      <h1 class="text-center">Browse Courses by Name</h1>
      <div class="course-cards">
        {% for course in courses %}
        <div class="course-card" style="width: 18rem;">
          <a href="/courses/{{ course.key.id}}">
            <img id="card-img" class="card-image" src="{{ course.image }}" alt="Course image">
          </a>
          <div class="card-info">
            <h3 class="card-text"><a href="/courses/{{ course.key.id}}">{{ course.name }}</a></h3>
            <p class="card-text">{{ course.category }}</p>
            <p class="card-text">Price: ${{ course.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
     </div>

     <!-- <div class="new-section-container"></div>
      <h2>New Course</h2>
      <p>Explore our newest programs.</p>
      <div class="course-cards">
        {% for course in courses %}
        <div class="course-card">
          <a href="/courses/{{course.id}}">
            <img
              id="card-image"
              class="card-image"
              src="{{course.image}}"
              alt="Course Image"
            />
          </a>
          <div class="card-info">
            <p class="provider">{{course.category}}</p>
            <a href="/courses/{{course.id}}">
              <h3>{{course.name}}</h3>
            </a>
            <p>{{course.description[:10]}}</p>
          </div>
        </div>
        {% endfor %}
      </div> -->

  
    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
