<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="../static/styles/general.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/faq.css" />

    <title>FAQ</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Frequently Asked Questions</h1>

        <div class="faq-section">
            <details>
                <summary>What is this platform about?</summary>
                <p>Our mission is to spread knowledge and creativity for people everywhere. We do this by giving you a platform to both teach and be taught. There are hundreds of professional instructors available on our platform ready to help get you certified. You can take courses across a wide range of categories, some of which include: business & entrepreneurship, programming, academics, the arts, health & fitness, language, music, and more!</p>
            </details>

            <details>
                <summary>How do I sign up as an instructor?</summary>
                <p>Sign up today by creating an account and then following our <a href="pricing.html">pricing page</a>! All our plans are features are laid out here.</p>
            </details>

            <details>
                <summary>How do I enroll in a course?</summary>
                <p>To enroll in a course, simply browse the available courses, select one, and click "Enroll" to follow the purchase steps.</p>
            </details>

            <details>
                <summary>Are all courses accredited? How do I know if my instructor is qualified?</summary>
                <p>Every approved, paid course features a certificate of completion to document your accomplishment. While we are not an accredited institution, we offer skills-based courses taught by real-world experts in their field. </p>
            </details>
            <h1> Payments </h1>
            <details>
                <summary>What payment methods do you accept?</summary>
                <p>We accept all major credit cards, PayPal, and e-wallet payments for your convenience.</p>
            </details>

            <details>
                <summary>Are there any additional fees I should be aware of? Is any content hidden behind a paywall?</summary>
                <p>We try to be as straight forward as we can be with our pricing. We assure you that our instructors' do not hide any extra content in their courses as it is against our policy.</p>
            </details>

            <details>
                <summary>Can I get a refund if I'm not satisfied with a course?</summary>
                <p>Yes, we offer a 30-day refund policy. Please contact support with your order details.</p>
            </details>
        </div>
    </div>

</body>
</html>
