<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/general.css" />
    <title>Document</title>
  </head>
  <body style="height: 10000px">
    <header class="header" id="header">
      <div class="">random image</div>
      <nav class="" id="nav-bar">
        <a href="/">Home</a>
        <a href="">About Us</a>
        <a href="">Pricing</a>
        <a href="/account">My Account</a>
        <a href="">Browse</a>
        <a href="">FAQs</a>
        <a href="">Contact</a>
      </nav>
    </header>
    <nav id="mobile-vertical-navbar">
      <img
        src="vertical_menu_button.png"
        id="vertical-menu-button"
        onclick="showVerticalNavbar()"
      />
      <div id="hidden-vertical-navbar">
        <a href="/">Home</a>
        <a href="">About Us</a>
        <a href="">Pricing</a>
        <a href="/account">My Account</a>
        <a href="">Browse</a>
        <a href="">FAQs</a>
        <a href="">Contact</a>
      </div>
    </nav>

    <div id="forgot-password">
      <h1>Forgot Password</h1>
      <form action="/forgot_password" method="POST">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" id="email"/>
        <br>
        <button type="submit">Enter</button>
      </form>
    </div>

    <!-- display whether email does not exist or instruction -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="flashed-msg">{{ messages[-1]}}</p>
        {% endif %}
    {% endwith %}

    {% if reset_link %}
        <div id="reset-link">
            <p>Reset Password</p>
            <form action="/reset_password" method="POST">
                <label for="password">New password</label>
                <input type="password" name="password" id="password"/>
                <br>
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm-password" id="confirm-password"/>
                <br>
                <button type="submit">Reset</button>
            </form>
        </div>
    {% endif %}

    <script src="/static/general.js"></script>
  </body>
</html>
