<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="stylesheet" href="/static/styles/header.css"/>
    <link rel="stylesheet" href="/static/general.css">
    <title>Home</title>
  </head>
  <body>
    <div id="body-container">
      <iframe src="/header" id="iframe-header"></iframe>
      <!-- <div>
          <img src="/static/img/banner.png" id="banner" />
          <div id="image-container">
            <h1>Your App Name</h1>
            <h4>Your Slogan here here <br>  your slogan your slogan here</h2>
          </div>
        </div> -->
    </div>

    <!-- MAIN CONTENT AREA -->
     <div id="main-content-area">
      <!-- New instructors -->
      <h2>All Instructors</h2>
        <div id="instructor-container">
          {% for instructor in instructors %}
            <a href="/instructor/{{instructor.id}}">
              <img id="profile-image" class="profile-image" src="{{instructor.image}}" alt="instructor profile picture">
            </a>
            <a href="/instructor/{{instructor.id}}">
              {{instructor.name}}
            </a>
            <br>
          {% endfor %}
        </div>

     </div>

     <!-- add logout -->
    <a href="/logout">Log out</a>
   
    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
