<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/styles/home.css" />
    <link rel="stylesheet" href="/static/styles/header.css"/>
    <title>Home</title>
  </head>
  <body>
    <div id="body-container">
      <iframe src="/header" id="iframe-header"></iframe>
    </div>

    <!-- HEADER -->
    <header class="header" id="header">
      <img id="instructor-profile-pic" src="{{instructor.image}}" alt="instructor profile picture">
      <nav id="nav-bar">
        <a href="/" target="_parent">Home</a>
        <a href="" target="_parent">About Us</a>
        <a href="" target="_parent">Pricing</a>
        <a href="/account" target="_parent">My Account</a>
        <div class="dropdown">
          <button class="dropdown-button">Browse</button>
          <div class="dropdown-content">
            <a href="/courses/browse/name">Browse By Name</a>
            <a href="/courses/browse/category">Browse By Category</a>
          </div>
        </div>
        <a href="" target="_parent">FAQs</a>
        <a href="" target="_parent">Contact</a>
      </nav>
    </header>
    <nav id="mobile-vertical-navbar">
      <img
        src="../vertical_menu_button.png"
        id="vertical-menu-button"
        onclick="showVerticalNavbar()"
      />
      <div id="hidden-vertical-navbar" style="display: none">
        <a href="/" target="_parent">Home</a>
        <a href="" target="_parent">About Us</a>
        <a href="" target="_parent">Pricing</a>
        <a href="/account" target="_parent">My Account</a>
        <a href="" target="_parent">Browse</a>
        <a href="" target="_parent">FAQs</a>
        <a href="" target="_parent">Contact</a>
      </div>
    </nav>

    <!-- MAIN SECTION -->
    <main>
        <h1>{{instructor.first_name}} {{instructor.last_name}}</h1>
        <!-- image -->
        <img src="{{instructor.image}}" alt="instructor profile picture">

        <!-- about -->
        <div id="instructor-about">
            <h2>About</h2>
            <p>Email: {{instructor.email}}</p>
            <p>Phone: {{instructor.phone}}</p>
            <p>Address: {{instructor.address}}</p>
            <p>Zipcode: {{instructor.zipcode}}</p>
            <p>City: {{instructor.city}}</p>
            <p>Country: {{instructor.country}}</p>
        </div>
        <!-- new courses -->
        {% for new_course in new_courses %}
        <h2>New Courses</h2>
            <div class="course-container">
                <a href="/courses/{{new_course.slug}}">
                    <img src="{{new_course.image}}" alt="course image">
                </a>
                <a href="/courses/{{new_course.slug}}">
                    <h4>{{new_course.name}}</h4>
                </a>
                <p>Price: ${{new_course.price}}</p>
            </div>
        {% endfor %}
        
        <!-- all courses -->
        <h2>All Courses</h2>
        <div class="course-container">
            {% for course in courses %}
                <a href="/courses/{{course.slug}}">
                    <img src="{{course.image}}" alt="course image">
                </a>
                <a href="/courses/{{course.slug}}">
                    <h4>{{course.name}}</h4>
                </a>
                <p>Price: ${{course.price}}</p>
            {% endfor %}
        </div>
    </main>
   
    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
