<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/instructor_profile.css" />
    <link rel="stylesheet" href="/static/general.css" />
    <title>Instructor - {{instructor.name}}</title>
  </head>
  <body>
    <iframe src="/header" id="iframe-header"></iframe>

    <!-- MAIN SECTION -->
    <main>
      <h1>{{instructor.name}}</h1>
      <!-- image -->
      <img
        id="card-image"
        class="card-image"
        src="{{instructor.image}}"
        alt="instructor profile picture"
      />

      <!-- about -->
      <div id="instructor-about">
        <h2>About</h2>
        <p><strong>Email: </strong> {{instructor.email}}</p>
        <p><strong>Phone: </strong> {{instructor.phone}}</p>
        <p><strong>Address:</strong> {{instructor.address}}</p>
        <p><strong>Zipcode:</strong> {{instructor.zipcode}}</p>
        <p><strong>City: </strong> {{instructor.city}}</p>
        <p><strong>Country:</strong> {{instructor.country}}</p>
      </div>

      <!-- add course button - only visible to instructors -->
      {% if user_role == 'instructor' or user_role == 'admin' %}
      <a href="/courses/add">
        <button type="button">Add Course</button>
      </a>
      {% endif %}

      <!-- new courses -->
      <h2>New Courses</h2>
      {% for new_course in new_courses %}
      <div class="course-container">
        <a href="/courses/{{new_course.id}}">
          <img
            id="course-image"
            class="course-image"
            src="{{new_course.image}}"
            alt="course image"
          />
        </a>
        <a href="/courses/{{new_course.id}}">
          <h4>{{new_course.name}}</h4>
        </a>
        <p>Price: ${{new_course.price}}</p>
      </div>
      {% endfor %}

      <!-- all courses -->
      <h2>All Courses</h2>
      <div class="course-container">
        {% for course in courses %}
        <a href="/courses/{{course.id}}">
          <img
            id="course-image"
            class="course-image"
            src="{{course.image}}"
            alt="course image"
          />
        </a>
        <a href="/courses/{{course.id}}">
          <h4>{{course.name}}</h4>
        </a>
        <p>Price: ${{course.price}}</p>
        {% endfor %}
      </div>
    </main>

    <iframe src="/footer" id="iframe-footer"></iframe>
    <script src="/static/general.js"></script>
  </body>
</html>
