<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/pricing.css" />


    <title>Pricing</title>
</head>
<body>
    <iframe src="/header" id="iframe-header"></iframe>
    <h1>Our Prices</h1>
    <p><p style="text-align:center">
        Instructors
    </p>
    
    <div class="table">
        <table class="price-table">
            <tbody>
                <tr>
                    <td class="price-blank"></td>
                    <td class="price-blank"></td>
                    <td class="price-table-popular">Most popular</td>
                    <td class="price-blank"></td>
                </tr>
                <tr class="price-table-head">
                    <td></td>
                    <td>
                        Personal
                        <br><small style="font-size: 12px; font-weight: 400;">Best for new instructors</small>

                    </td>
                    
                    <td>
                        Business
                        <br><small style="font-size: 12px; font-weight: 400;">Advanced Instructors</small>
                    </td>
                    <td class="green-width">
                        Professional
                        <br><small style="font-size: 12px; font-weight: 400;">The entire Academy</small>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="price">
                        <p>&dollar;29.99/month</p>
                        <p><small>Billed annually at &dollar;299.99</small></p>
                        <a href="#">Get started</a>
                    </td>
                    <td class="price">
                        <p>&dollar;60.99/month</p>
                        <p><small>Billed annually at &dollar;599.99</small></p>
                        <a href="#">Get started</a>
                    </td>
                    <td class="price">
                        <p>&dollar;99.99/month</p>
                        <p><small>Billed annually at &dollar;999.99</small></p>
                        <a href="#">Get started</a>
                    </td>
                </tr>
                
                <tr>
                    <td><a href="#wordpress-asset-updates" class="price-table-help"><i class="far fa-fw fa-question-circle"></i></a> Starting Courses</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><i class="far fa-fw fa-question-circle"></i></a> Price per additional Course</td>
                    <td>&dollar;19.99/month</td>
                    <td>19.99/month</td>
                    <td>15.99/month</td>
                </tr>
                <tr>
                    <td><i class="fas fa-upload"></i> Course Upload Limit</td>
                    <td>5 Courses</td>
                    <td>20 Courses</td>
                    <td>Unlimited Courses</td>
                </tr>
                
                <tr>
                    <td><i class="fas fa-video"></i> Video Hosting Bandwidth</td>
                    <td>10 GB</td>
                    <td>50 GB</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td><i class="fas fa-percent"></i> Transaction Fees</td>
                    <td>10%</td>
                    <td>5%</td>
                    <td>2%</td>
                </tr>
                <tr>
                    <td><i class="fas fa-chart-line"></i> Analytics & Reports</td>
                    <td>Basic</td>
                    <td>Advanced</td>
                    <td>Advanced + Custom Reports</td>
                </tr>
                <tr>
                    <td><i class="fas fa-headset"></i> Dedicated Support</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i> Priority</td>
                </tr>
                <tr>
                    <td><i class="fas fa-cloud"></i> Cloud Storage</td>

                    <td><i class="fas fa-times"></i> 50 GB</td>
                    <td><i class="fas fa-check"></i> 70 GB</td>
                    <td><i class="fas fa-check"></i> 100 GB</td>
                </tr>
                
                <tr>
                    <td><i class="fas fa-bullhorn"></i> Marketing Support</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i> Basic</td>
                    <td><i class="fas fa-check"></i> Advanced</td>
                </tr>
                
                
                <tr>
                    <td><i class="fas fa-certificate"></i> Course Certifications</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td class="price">
                        <a href="#">Get started</a>
                    </td>
                    <td class="price">
                        <a href="#">Get started</a>
                    </td>
                    <td class="price">
                        <a href="#">Get started</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <iframe src="/footer" id="iframe-footer"></iframe>
        <script src="/static/general.js"></script>
    </div>
    
</body>
</html>
