#header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-right: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
  z-index: 100;
}
.header {
  background-color: white;
}
.header-scroll {
  background-color: #999897;
}
.header-scroll #nav-bar a {
  color: white;
}
.header #nav-bar a {
  color: black;
}

#nav-bar {
  display: flex;
}
.dropdown-button {
  background-color: transparent;
  font-family: inherit;
  text-decoration: inherit;
  padding: 0;
}

#nav-bar a,
.dropdown-button {
  font-size: 19px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #b4b4b4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}
.header-scroll .dropdown-button {
  color: white;
}
.header-scroll .dropdown-content {
  background-color: #999897;
}
#mobile-vertical-navbar {
  position: fixed;
  right: 0;
  display: none;
  z-index: 100;
  margin-bottom: 100px;
}
#hidden-vertical-navbar {
  display: none;
  position: fixed;
  height: 400px;
  top: 60px;
  right: 0;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: White;
  flex-direction: column;
  z-index: 100;
  text-align: right;
}
#hidden-vertical-navbar .dropdown {
  position: relative;
}
#hidden-vertical-navbar .dropdown-button {
  font-weight: inherit;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  padding: 10px;
}
#hidden-vertical-navbar .dropdown-content {
  color: black;
  text-decoration: none;
  right: 0;
}
#mobile-vertical-navbar a {
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  color: black;
}
#mobile-vertical-navbar img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1199px) {
  #mobile-vertical-navbar {
    display: block;
  }
  #nav-bar {
    display: none;
  }
}

@media (max-width: 767px) {
  #hidden-vertical-navbar {
    width: 100%;
  }
}
