#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#image-container img {
  position: relative;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  object-position: left;
}
#main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  align-items: center;
  overflow: hidden;
}

.input-box {
  width: 300px;
}
form {
  position: absolute;
  width: 600px;
  top: 65px;
  right: 0;
  margin: 0 150px 0 0;
  background-color: white;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
}
form h1 {
  text-align: center;
  font-size: 30px;
}
form div {
  margin-bottom: 15px;
}

form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

form button[type="submit"]:hover {
  background-color: #218838;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 5px;
}

form .account-type-div p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

#horizontal-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#horizontal-container .input-box {
  width: 130px;
}
#button-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#text-overlay {
  position: absolute;
  top: 45%;
  left: 28%;
}
#text-overlay h1 {
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: bold;
  color: #2b2b3d;
}
#text-overlay p {
  text-align: center;
  font-size: 1.5vw;
  margin: 10px 0;
  color: #555;
}

#right-container p {
  text-align: center;
  font-size: 12px;
}

@media (max-width: 1199px) {
  #main-container {
    flex-direction: column;
  }

  form {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #edf1d6;
  }
}
