#header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-right: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
  z-index: 100;
}
.header {
  background-color: white;
}
.header-scroll {
  background-color: #999897;
}
.header-scroll #nav-bar a {
  color: white;
}
.header #nav-bar a {
  color: black;
}

#nav-bar {
  display: flex;
}
#nav-bar a {
  font-size: 19px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#mobile-vertical-navbar {
  position: fixed;
  right: 0;
  display: none;
  z-index: 100;
  margin-bottom: 100px;
}
#hidden-vertical-navbar {
  display: none;
  position: fixed;
  height: 400px;
  top: 60px;
  right: 0;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: White;

  flex-direction: column;
  z-index: 100;
  text-align: right;
}
#mobile-vertical-navbar a {
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  color: black;
}
#mobile-vertical-navbar img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1199px) {
  #mobile-vertical-navbar {
    display: block;
  }
  #nav-bar {
    display: none;
  }
}

@media (max-width: 767px) {
  #hidden-vertical-navbar {
    width: 100%;
  }
}
